{% extends "base.html" %}

{% block content %}

  {% for order in orders %}
    <div class="ordersList">
    <li>Product to order:{{ order.order_tire }}</li>
    <li>Quantity:{{ order.quantity}}</li>
    <li>Ordering user: {{ order.user.username }}</li>

    <a href="{% url 'order_delete' order.id %}">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
    </div>
    <br>

  {% endfor %}
    <a href="{% url 'order' %}">
        <button type="button" class="btn btn-primary">New Order</button>
    </a>


{% endblock %}
