{% extends "base.html" %}

{% block content %}
  {% for tire in tires %}

    <li>Tire's brand: {{ tire.width }}</li>

    <li>Tire's size: {{ tire.width}}/{{ tire.aspect_ratio}}/R{{ tire.diameter}}</li>

    <li>Season type: {{ tire.get_season_type_display }}</li>



    {% if tire.image %}
        <img src="{{ tire.image.url }}" width="100" height="100">
    {% else %}
        No photo added
    {% endif %}

    <p><a href="{% url 'tire_delete' tire.id %}"> Delete </a> </p>
    <p><a href="{% url 'tire_edit' tire.id %}"> Edit </a> </p>
    <p><a href="{% url 'tire_detail' tire.id %}"> Detail </a> </p>


    <br>
...........................................................

  {% endfor %}
 <p><a href="{% url 'start' %}">Start page</a></p>
{% endblock %}
